body{
    text-align: center;
}
h1{
    
}
h2{
    font-size: 20px;
    margin: 5px 0;
}
p{
    font-size: 18px;
    margin: 5px 0;
}
.wrap_in{
    width: 40%;
    padding: 5px 0;
    margin: auto;
    background-color:bisque;
    border-radius: 20px;
}
.wrap_out{
    width: 40%;
    padding: 5px 0;
    margin: auto;
    background-color:aqua;
    border-radius: 20px;
}
input.button{
    margin-top: 10px;
}
.wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin-bottom: 10px;
}
.title{
    text-align: left;
    width: 30%;
}